::ng-deep .mat-form-field-underline {
  color: white;
}

::ng-deep .mat-select-value{
  color: white;
}

::ng-deep .mat-form-field-ripple{
  background-color: white;
}

::ng-deep .mat-form-field-label{
  color: rgba(255, 255, 255, .6);
}

::ng-deep .mat-select-arrow{
  color: rgba(255, 255, 255, .54);
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: rgba(255, 255, 255, .42);
}

/*::ng-deep .mat-form-field.mat-focused .mat-form-field-label {*/
/*  color: white;*/
/*}*/

.mat-form-field {
  width: 400px;
}
